@import "../../styles/vars.scss";

.logo__name {
    font-size: $font-size + 40px;
    cursor: pointer;
    font-weight: 700;
    padding-right: 30px;
}
form {
    display: inline-block;
    position: relative;
}
form .header__input {
}
.header {
    & {
        margin: 20px 0 0 20px;
    }
    &__button {
        position: absolute;
        cursor: pointer;
        height: 40px;
        width: 80px;
        left: 300px;
        top: 5px;
        border: none;
        border-radius: 33px;
    }
    &__section {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-right: 12px;
        padding-left: 12px;
    }
    form &__input {
        margin-left: 60px;
        padding-right: 150px;
        font-size: $font-size;
        font-weight: 400;
        line-height: 2px;
        height: 50px;
        width: 350px;
        border: #f0f4fb 1px solid;
        border-radius: 33px;
    }
    &__profile {
        margin-left: 20px;
    }
}
.shopping__button {
    cursor: pointer;
    border: #f0f4fb 1px solid;
    border-radius: 33px;
    color: white;
    padding: 20px;
    font-size: $font-size;
}
.purchase__button {
    margin-left: 20px;
}
.subsections {
    display: flex;
    align-items: center;
}
.fas {
    color: #727280;
}

.fa {
    color: #727280;
}

.location__text {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    font-size: $font-size;
}
.logo {
    user-select: none;
    text-decoration: none;
}
.logo:visited {
    color: black;
}

@media (max-width: 550px) {
    .logo__name {
        font-size: $font-size + 25px;
        cursor: pointer;
        font-weight: 700;
        padding-right: 0;
    }
    .header__profile {
        padding-left: 0px;
    }
}
@media (max-width: 1000px) {
    .header__wrapper {
        display: none;
    }
    .logo__name {
        font-style: 20px;
    }
}
@media (max-width: 1400px) {
    .header {
        &__section {
            display: flex;
            align-items: center;
            padding-right: 12px;
            padding-left: 12px;
        }
    }
    .location__text {
        display: none;
    }
}
