$background-color: white;
$footer-color: #F0F4FB;
$font-size: 14px;
$button-size: 50px;
$h1: 18px;
$h2: 16px;
$h3: 14px;

%basket-button-styles {
    background-color: #fff;
    border: 1px solid #F0F4FB;
    border-radius: 3px;
}
